<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-stripped">
      <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailId}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
          <button class="btn btn-info" style="margin-left: 10px" (click)="employeeDetails(employee.id)">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
